# General
__pycache__/
*.pyc

# Logs
*.log

# Environment variables and sensitive information
.env
env.json

# Development database files
*.db
*.sqlite

# Dependency directories
venv/
virtualenv/
env/

# Temporary files
*.tmp

# OS-specific files
.DS_Store
Thumbs.db
